<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Edia Sakai Maps Tool</display-name>
	<description>Edia Sakai Maps Tool</description>
	<!-- list of components to load locally -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/local.xml</param-value>
	</context-param>

	<!-- list of components to load into the shared components -->
	<context-param>
		<param-name>contextSharedLocation</param-name>
		<param-value>/WEB-INF/shared.xml</param-value>
	</context-param>

	<!-- Sakai request filter -->
	<filter>
		<filter-name>sakai.request</filter-name>
		<filter-class>org.sakaiproject.util.RequestFilter</filter-class>
	</filter>

	<!-- Tool Servlet -->
	<servlet>
		<servlet-name>edia.sakai.maps</servlet-name>
		<servlet-class>nl.edia.masla.sakai.tool.WebappToolServlet</servlet-class>
		<init-param>
			<param-name>first-page</param-name>
			<param-value>/route.spring</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Spring dispatch servlet -->

	<servlet>
		<servlet-name>edia.sakai.maps.dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>edia.sakai.maps</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

    <filter-mapping>
      <filter-name>sakai.request</filter-name>
      <servlet-name>edia.sakai.maps.dispatcher</servlet-name>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

	<servlet-mapping>
		<servlet-name>edia.sakai.maps.dispatcher</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
      <servlet-name>edia.sakai.maps.dispatcher</servlet-name>
      <url-pattern>*.spring</url-pattern>
    </servlet-mapping>

	<!-- Sakai context loader -->
	<listener>
		<listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
	</listener>
	<!-- Sakai tool listener -->
	<listener>
		<listener-class>org.sakaiproject.util.ToolListener</listener-class>
	</listener>

</web-app>
